* {
  box-sizing: border-box;
}
/*use a media query to make responsive page for mobile phones! Try W3.CSS?*/
body {
  font-family: Times New Roman, serif;
  background-image: url("blue abstract image (1).jpg");
  /*This image was collected from solidbackgrounds.com.
  It is called "Blue Abstract Noise."*/
  color: white;
  background-color= white;
  padding-left: 35px;
  padding-right: 35px;
}
p {
  font-size: 24px;
}
div.transbox {
  margin: 20px;
  color: white;
  background-color: rgb(69,69,69,.3);
  border: 1px solid black;
  padding: 0 40px;
}

header{
  background-color: rgb(52, 73, 94,.69);
  margin-left: -35px;
  margin-right: -35px;
}
header::after {
  content: '';
  display:table;
  clear:both;
}
.container {
  width: 80%;
}
.container h1 {
  font-style: 38px;
  float: left;
  margin-left: 30px;
}
nav {
  float: right;
}
nav ul {
  list-style: none;
  margin: 0
  padding: 0
}
nav a {
  color: white;
  background-color: none;
  text-decoration: none;
  font-size: 22px;
}
nav a:hover {
  color: blue;
}
nav li {
  display: inline-block;
  margin-left: 75px;
  padding-top: 17px;

  position:relative;
}
nav a::before {
  content: '';
  dsiplay: block;
  height: 5px;
  width: 0%;
  background-color: blue;
  top: 0;
  position:absolute;
  transition: all ease-in-out 250ms;
}
nav a:hover::before {
  width: 100%;
}
